.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
	margin: 30px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.switch[data-prev="off"] .slider:before {
	left: 0px;
}
.switch[data-prev="on"] .slider:before, .switch[data-state="on"] .slider:before {
	left: calc(100% - 32px);
}
.switch[data-state="Intermediate"] .slider:before {
	left: 26px;
}
.switch[data-state="off"] .slider {
	    background: #ccc;
}
.switch[data-prev="on"] .slider, .switch[data-state="on"] .slider {
	background: green;
}
.switch[data-state="Intermediate"] .slider {
	background: #FFDB00;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196F3;
          box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}